<h1>Tasks#new</h1>
<%= form_for [ @goal, @task ] do | f | %>
  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  </ul>
<% end %>
