<!DOCTYPE html>
<html>
<head>
  <title>Goale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <!-- /// TODO[@jrmykolyn] - Only print markup if `notice`/`alert` are truth-y. -->
  <section class="preheader">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </section>
</header>
<main class="container">
  <%= yield %>
</main>

</body>
</html>
